img {
    width: 50px;
}

.app {
    float: right;
    padding: 10px;
    border-radius: 11px;
    border: 3px solid transparent;
}
.app:hover {
    border: 3px solid rgba(0, 0, 0, .1);
    background: rgba(180, 213, 210, .35);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
