a {
    color: black;
    text-decoration: none; /* no underline */
}
a:hover {
    color: black
}

img {
    width: 50px;
}

.app {
    padding: 10px;
    border-radius: 11px;
    border: 3px solid transparent;
}
.app:hover {
    border: 3px solid rgba(0, 0, 0, .1);
    background: rgba(149, 169, 180, 0.35);
}

.app-left {
    float: left;
}

.app-right {
    float: right;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.winbox {
    display: block !important;
    visibility: visible !important;
}